/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@import "tailwindcss";

@theme {
  --color-primary: #603ae5;
  --color-secondary: #603ce599;
  --color-tertiory: #603ae51a;
  --color-muted: #8181a5;
  --color-border: #eeeeee;
  --color-disabled: #f6f6f6;
}

@layer {
  .btn-primary {
    @apply px-5 py-2.5 bg-primary text-white font-medium text-sm md:text-base leading-tight rounded-lg shadow-md hover:bg-blue-800 hover:shadow-lg focus:bg-blue-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out;
  }
  .btn-primary-outline {
    @apply px-5 py-2 text-sm md:text-base font-medium text-black transition-all duration-150 ease-linear bg-transparent border-2 border-border hover:border-border border-solid rounded-lg outline-none hover:bg-border  active:bg-border focus:outline-none;
  }
  .btn-secondary-outline {
    @apply px-3 py-2 text-sm md:text-base font-medium text-primary transition-all duration-150 ease-linear bg-border border-2 border-gray-300 border-solid rounded-lg outline-none hover:bg-blue-800 hover:text-white active:bg-blue-800 focus:outline-none;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
